@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
    scroll-padding: 3.125rem;
    text-decoration: none;
    list-style: none;

}

body{
    width: 100%;
    height: 100vh;
    margin-top: 60px; /* Adiciona espaço para o conteúdo abaixo do header */

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #7257fa;
    color: #fff;
    width: 100%;
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1000; 
}

header a {
    color: #fff;
}

.logo img{
    width: 100px;
}

a{
    color: #000;
}


main{
    margin-top: 50px;
}

.centro {
    width: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    background-color: #ffffff;
    color: #4b5563;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 0.75rem;
    margin-top: 3.125rem;
    padding: 20px;
}

.trabalhos{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
}



.riscos{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
}

.links-externos{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
}



.saiba {
    background: #fff;
    padding: 8px 30px;
    border-radius: 20px;
    margin-left: 30px;
}

.saiba a {
    color: #7257fa;
}

.leia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px;
}

.leia h2 {
    color: #000;
    font-weight: 300;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links-externos {
    width: 1080px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}


.img-leia img {
    width: 100%;
    height: auto;
    display: block;
}


.nav li a{
    color: #7257fa;
    text-decoration: underline;
}

.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.logos img{
    width:400px;
    height: 400px;
}