.Inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.esquerda p{
    margin-top: 15px;
    width: 480px;
}

.esquerda h1{
    font-size: 48px;
}

.direita img{
    width: 560px;
}

